/****** Css Resets Start *******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****** Css Resets End ********/

/****** Variables Start ********/
:root {
	--color-1:#516B71;
	--color-2: #38444C;
	--color-3: #F9FFFF;
	--bg-color: #F5FAFA;
	--header-content-width: 25.5rem;
}
/****** Variables End ********/

/****** Main Styles Start ********/

@media screen and (min-width: 600px) {
	html { font-size: 80%; } 
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    padding-inline: 1.5rem;
	max-width: 1400px;
	margin-inline: auto;
}

@media screen and (min-width: 600px) {
	.wrapper {
		padding-inline: 4.5rem;
	}
}

.header {
	background-image: url('images/bg1_small.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 1rem;
	padding-bottom: 3.75rem;
	color: #fff;
}

.header .menu {
	display: flex;
}

.header .logo { 
	width: 6.75rem;
	height: 2.42rem;
}

.header .cta {
	margin-left: auto;
	align-self: start;
	margin-top: 0.5rem;
	background-color: #FDD869;
	color: #38444C;
	font-size: .75rem;
	line-height: 1.2;
	font-weight: 400;
	border: none;
	text-transform: uppercase;
	padding: .4rem 1.125rem .3rem;
	cursor: pointer;
}

.header .heading {
	margin-top: 9.125rem;
	padding: 1.5rem;
	margin-inline: -1.5rem;
	background: rgba(102, 116, 125, 0.5);
}

.header h1 {
	margin-bottom: 0.5rem;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.2;
	max-width: var(--header-content-width);
}

.header p {
	max-width: var(--header-content-width);
	font-weight: 300;
	font-size: 0.75rem;
	line-height: 1.2;
	color: var(--color-3)
} 

@media screen and (min-width: 600px) {
	.header {
		padding-top: 1.75rem;
		padding-bottom: 13.75rem;
		background-image: url('images/bg1.jpg');
	}

	.header .logo {
		width: 14rem;
		height: 100%;
	}

	.header .cta {
		font-size: 1.25rem;
		margin-top: 1rem;
		padding: .75rem 3rem;
	}

	.header .heading {
		margin-top: initial;
		padding: initial;
		background: none;
	}

	.header h1 {
		margin-top: 9.688rem;
		font-size: 3.75rem;
		margin-bottom: 1.25rem;
	}

	.header p {
		font-size: 1.375rem;
	}
}

.cards {
	padding-block: 2.5rem 5rem;
	background-color: var(--bg-color);
	background-image: url(images/big_dot.png);
	background-repeat: no-repeat;
	background-position: center 97%;
	position: relative;
}

.cards::before {
	content: '';
	width: 4px;
	height: 4px;
	display: inline-block;
	background-image: url(images/small_dot.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 45.5%;
	bottom: 3.09%;
}

.cards::after {
	content: '';
	width: 4px;
	height: 4px;
	display: inline-block;
	background-image: url(images/small_dot.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 53.1%;
	bottom: 3.1%;
}

@media screen and (min-width: 420px) {
	.cards::before {
		left: 47%;
	}
	
	.cards::after {
		left: 52.1%;
	}
}

@media screen and (min-width: 600px) {
	.cards {
		padding-block: 7.875rem 8.25rem;
		background-image: none;
	}

	.cards::before {
		content: none;
	}

	.cards::after {
		content: none;
	}
}

.cards h2 {
	font-weight: 700;
	text-align: center;
	font-size: 1.25rem;
	line-height: 1.2;
	color: var(--color-1);
	margin-bottom: 2.5rem;
}

@media screen and (min-width: 600px) {
	.cards h2 {
		font-size: 3rem;
		margin-bottom: 5.75rem;
	}
}

.cards .cards-container {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	align-items: center;
	flex-direction: column;
}

@media screen and (min-width: 600px) {
	.cards .cards-container {
		gap: 4rem;
	}
}

@media screen and (min-width: 850px) {
	.cards .cards-container {
		gap: 2.5rem;
		flex-direction: row;
		align-items: initial;
	}
}

.cards .card {
	text-align: center;
	max-width: 21.69rem;
}

.cards img {
	width: 4.06rem;
	height: 4.06rem;
}

@media screen and (min-width: 600px) {
	.cards img {
		width: 7.56rem;
		height: 7.56rem;
	}
}

.cards h3 {
	margin-block: 1.375rem .75rem;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.2;
	color: var(--color-1);
}

@media screen and (min-width: 600px) {
	.cards h3 {
		font-size: 2rem;
		margin-block: 2.187rem 1.187rem;
	}
}

.cards p {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.2;
    color: var(--color-2);
}

@media screen and (min-width: 600px) {
	.cards p {
		font-size: 1.375rem;
	}
}

.categories {
	padding-top: 3rem;
	text-align: center;
	background-color: var(--bg-color);
}

@media screen and (min-width: 600px) {
	.categories {
		background-color: #fff;
		padding-block: 8.375rem 0;
	}
}

@media screen and (min-width: 960px) {
	.categories {
		padding-block: 8.375rem 10.56rem;
	}
}

.categories h2 {
	text-align: center;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.2;
	color: var(--color-1);
	margin-bottom: 2.375rem;
}

@media screen and (min-width: 600px) {
	.categories h2 {
		font-size: 3rem;
		margin-bottom: 5.375rem;
	}
}

.categories .category-container {
	display: flex;
	flex-direction: column;
	gap: 0.125rem;
}

@media screen and (min-width: 960px) {
	.categories .category-container {
		display: inline-flex;
		gap: 0.5rem;
		flex-direction: row;
		margin-inline: initial;
	}
}

@media screen and (min-width: 1150px) {
	.categories .category-container {
		gap: 3.5rem;
	}
}

.categories .category {
	padding: 2rem 1.5rem;
	color: #fff;
	margin-inline: -1.5rem;
}

@media screen and (min-width: 600px) {
	.categories .category {
		padding: 2.7rem 4.5rem;
		margin-inline: -4.5rem;
	}
}

@media screen and (min-width: 960px) {
	.categories .category {
		aspect-ratio: 395 / 626;
		max-width: 24.6875rem;
		border-radius: 4.5rem;
		display: flex;
		align-items: center;
		flex: 1;
		margin-inline: initial;
		padding-inline: 1rem;
	}
}

@media screen and (min-width: 1150px) {
	.categories .category {
		padding: 2.75rem;
	}
}

.categories .category-1 {
	background-image: url('images/category_bg1_small.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.categories .category-2 {
	background-image: url('images/category_bg2_small.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.categories .category-3 {
	background-image: url('images/category_bg3_small.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-width: 960px) {
	.categories .category-1 {
		background-image: url('images/category_bg1.png');
	}

	.categories .category-2 {
		background-image: url('images/category_bg2.png');
	}

	.categories .category-3 {
		background-image: url('images/category_bg3.png');
	}
}

.categories .categories-inner-container {
	display: flex;
	align-items: center;
}

.categories .categories-inner-container > * {
	flex: 1;
}

@media screen and (min-width: 960px) {
	.categories .categories-inner-container {
		display: block;
	}

	.categories .categories-inner-container > * {
		flex: initial;
	}
}

.categories h3 {
	font-weight: 400;
	font-size: 1.375rem;
	line-height: 1.2;
	color: var(--color-3);
}

@media screen and (min-width: 600px) {
	.categories h3 {
		font-size: 2.2rem;
	}
}

@media screen and (min-width: 960px) {
	.categories h3 {
		font-size: 2.75rem;
		margin-bottom: 3.125rem;
	}
}

.categories li {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.2;
	max-width: 70%;
	margin-inline: auto;
}

@media screen and (min-width: 600px) {
	.categories li {
		font-size: 1.375rem;
	}
}

.treatments {
	background-position: center center;
}

@media screen and (min-width: 600px) {
	.treatments .treatments-wrapper {
		background: linear-gradient(90deg, rgba(223, 240, 240, .7) 50%, rgba(255, 246, 218, .7) 50%), url('images/treatments_bg.svg');
		padding: 15.31rem 4.375rem;
		display: flex;
		background-repeat: no-repeat;
		background-position: center center;
		gap: 3.5rem;
	}
}

@media screen and (min-width: 960px) {
	.treatments .treatments-wrapper {
		gap: 6.25rem;
	}
}

.treatments .treatment {
	flex: 1;
	text-align: center;
	margin-inline: -1.5rem;
	padding: 6.56rem 1.5rem;
}

.treatments .treatment:nth-of-type(1) {
	background-color: #dff0f0;
}

.treatments .treatment:nth-of-type(2) {
	background-color: #fff6da;
}

@media screen and (min-width: 600px) {
	.treatments .treatment {
		margin-inline: initial;
		padding: initial;
	}

	.treatments .treatment:nth-of-type(1) {
		background-color: transparent;
	}

	.treatments .treatment:nth-of-type(2) {
		background-color: transparent;
	}
}

.treatments h3 {
	margin-bottom: 1.5rem;
	font-weight: 700;
	color: var(--color-1);
	font-size: 1.375rem;
	line-height: 1.2;
}

@media screen and (min-width: 600px) {
	.treatments h3 {
		margin-bottom: 4.6875rem;
		font-size: 2.75rem;
	}
}

.treatments p {
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.2;
	color: var(--color-2);
	margin-inline: 2rem;
}

@media screen and (min-width: 600px) {
	.treatments p {
		font-size: 1.375rem;
		max-width: 25rem;
		margin-inline: auto;
	}
}

.doctor {
	padding-block: 2.25rem 3.563rem ;
}

@media screen and (min-width: 600px) {
	.doctor {
		padding-block: 11.56rem;
	}
}

.doctor .wrapper {
	display: flex;
	gap: 2.25rem;
	flex-direction: column;
}

@media screen and (min-width: 960px) {
	.doctor .wrapper {
		gap: 3rem;
	}
}

@media screen and (min-width: 960px) {
	.doctor .wrapper {
		flex-direction: row;
	}
}

.doctor figure {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 600px) {
	.doctor figure {
		gap: 3rem;
	}
}

@media screen and (min-width: 960px) {
	.doctor figure {
		display: block;
	}
}

.doctor img {
	width: 6.625rem;
	height: 6.625rem;
	border: 1px solid #d8eaea;
	border-radius: 1.5rem;
}

@media screen and (min-width: 600px) {
	.doctor img {
		width: 21.31rem;
		height: 21.31rem;
		margin-bottom: 1rem;
		border-radius: 5rem;
	}
}

.doctor figcaption {
	font-weight: 300;
	font-size: .875rem;
	line-height: 1.2;
	color: var(--color-2);
}

@media screen and (min-width: 600px) {
	.doctor figcaption {
		font-size: 1.125rem;
		text-align: center;
	}
}

.doctor .dr-name {
	display: block;
	margin-bottom: .31rem;
	font-weight: 400;
	font-size: 1rem;
	text-transform: uppercase;
}

@media screen and (min-width: 600px) {
	.doctor .dr-name {
		font-size: 1.375rem;
	}
}

.doctor p {
	font-weight: 300;
	font-style: italic;
	font-size: 1rem;
	line-height: 1.2;
	color: var(--color-1);
	background-image: url('images/quotes.svg');
	background-repeat: no-repeat;
	background-size: 2.5rem 2.375rem;
	padding-top: 1.3rem;
	padding-left: 0.5rem;
}

@media screen and (min-width: 600px) {
	.doctor p {
		font-size: 2.25rem;
		background-size: 7rem 6.57rem;
		margin-top: 2rem;
		padding-top: 3.3rem;
		padding-left: 2.5rem;
	}
}

.stories {
	padding-block: 2.13rem 3.15rem;
	background-color: var(--bg-color);
	text-align: center;
}

@media screen and (min-width: 600px) {
	.stories {
		padding-block: 7.75rem 10rem;
	}
}

.stories h2 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.2;
	color: var(--color-1);
	text-align: center;
	margin-bottom: 1.31rem;
}

@media screen and (min-width: 600px) {
	.stories h2 {
		font-size: 3rem;
		margin-bottom: 3.19rem;
	}
}

.stories .stories-container {
	display: inline-block;
	white-space: nowrap;
}

.stories .swiper {
	width: 16.125rem;
	height: 24.375rem;
	padding-inline: 1.31rem;
}

@media screen and (min-width: 380px) {
	.stories .swiper {
		width: 19.125rem;
	}
}

@media screen and (min-width: 450px) {
	.stories .swiper {
		width: 21.125rem;
	}
}

@media screen and (min-width: 600px) {
	.stories .swiper {
		width: 29.2rem;
		height: 36.125rem;
		padding-inline: 3rem;
	}
}

@media screen and (min-width: 750px) {
	.stories .swiper {
		width: 95%;
		max-width: 34rem;
	}
}

@media screen and (min-width: 1000px) {
	.stories .swiper {
		width: 50.63rem;
		max-width: none;
	}
}

@media screen and (min-width: 1200px) {
	.stories .swiper {
		width: 95%;
	}
}

@media screen and (min-width: 1250px) {
	.stories .swiper {
		width: 84rem;
	}
}

.stories .swiper::after {
	content: '';
	width: 1.31rem;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	background-color: var(--bg-color);
}

.stories .swiper::before {
	content: '';
	width: 1.31rem;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 5;
	background-color: var(--bg-color);
}

@media screen and (min-width: 600px) {
	.stories .swiper::after {
		width: 3rem;
	}
	
	.stories .swiper::before {
		width: 3rem;
	}
}

.stories .story {
	border: 1px solid #d8eaea;
	border-radius: 1.5rem;
	background-color: #fff;
	padding: 1.5rem 1.5rem 5.25rem;
	display: inline-block;
	text-align: left;
	white-space: normal;
}

@media screen and (min-width: 600px) {
	.stories .story {
		padding: 3rem 2.5rem 7.5rem;
		border-radius: 4.5rem;
		width: 24.69rem;
	}
}

.stories .swiper-button-prev:after, .stories .swiper-button-next:after {
	color: var(--color-2);
	font-size: 1rem;
}

@media screen and (min-width: 600px) {
	.stories .swiper-button-prev:after, .stories .swiper-button-next:after {
		font-size: 2rem;
	}
}

.stories .swiper-button-prev:after {
	margin-right: 2rem;
}

.stories .swiper-button-next:after {
	margin-left: 2rem;
}

.stories h3 {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.2;
	color: var(--color-2);
	margin-bottom: 0.5rem;
}

@media screen and (min-width: 600px) {
	.stories h3 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
}

.stories .designation {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.2;
	color: var(--color-1);
	margin-bottom: 1.4375rem;
}

@media screen and (min-width: 600px) {
	.stories .designation {
		font-size: 1.25rem;
		margin-bottom: 2.25rem;
	}
}

.stories p {
	font-weight: 300;
	font-size: .875rem;
	line-height: 1.2;
	color: var(--color-2);
	background-image: url('images/quotes2.svg');
	background-repeat: no-repeat;
	background-size: 2.5rem 2.5rem;
	padding-top: 1rem;
}

@media screen and (min-width: 600px) {
	.stories p {
		font-size: 1.125rem;
		background-size: 3.125rem 3.125rem;
		padding-top: 1.5rem;
	}
}

.footer {
	padding-block: 2.25rem 1rem;
	background-color: var(--color-2);
	color: var(--bg-color);
	text-align: right;
}

@media screen and (min-width: 600px) {
	.footer {
		padding-block: 3.125rem 1.44rem;
	}
}

.footer a {
	text-decoration: none;
	font-weight: 400;
	color: #fff;
	font-size: 0.75rem;
	line-height: 1.2;
	padding: .31rem 1rem;
	background-color: var(--color-1);
	display: inline-block;
	margin-bottom: 2.25rem;
}

@media screen and (min-width: 600px) {
	.footer a {
		font-size: 1.25rem;
		padding: .75rem 3rem;
		margin-bottom: 5.25rem;
	}
}

.footer .copyright {
	font-weight: 300;
	font-size: .75rem;
	text-align: center;
	line-height: 1.2;
	color: var(--color-3);
	padding-top: 1rem;
	border-top: 1px solid var(--color-1);
	margin-inline: -1.5rem;
	padding-inline: 2.625rem;
}

@media screen and (min-width: 600px) {
	.footer .copyright {
		width: 70%;
		font-size: 1.125rem;
		margin-inline: auto;
		padding-top: 1.125rem;
		padding-inline: initial;
	}
}
/****** Main Styles End ********/